# Slicing with iloc and loc
### We'll be using a kaggle dataset of dog breeds (https://www.kaggle.com/kingburrito666/largest-dog-breed-data-set?select=2017.csv)

In [7]:
import pandas as pd
import numpy as np
dogs = pd.read_csv('./2017.csv')
dogs.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Spayed Female,BICHON FRISE,WHITE,CHLOE,15090,2017,12/15/2016 9:58
1,Dog Senior Citizen or Disability Spayed Female,CHIHUAHUA,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32
2,Dog Individual Spayed Female,LAB MIX,YELLOW,MIA,15133,2017,2/28/2017 10:59
3,Dog Individual Male,DACHSHUND,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40
4,Dog Individual Spayed Female,DACHSHUND,BLACK,SOPHIE,15108,2017,2/9/2017 13:40

### Is like slicing list but you need to sort the indexes on the dataframe

In [6]:
dogs_srt = dogs.set_index(["Breed", "Color"]).sort_index()
print(dogs_srt)

                                                                 LicenseType  \
Breed             Color
.                 .           Dog Senior Citizen or Disability Neutered Male
                  .                             Dog Individual Spayed Female
                  .                                    Dog Individual Female
                  .                                    Dog Individual Female
                  .                                      Dog Individual Male
...                                                                      ...
YORKSHIRE TERRIER WHITE/GREY                    Dog Individual Neutered Male
                  WHITE/GREY                           Dog Individual Female
                  WHITE/TAN                     Dog Individual Spayed Female
                  WHITE/TAN   Dog Senior Citizen or Disability Spayed Female
                  WHITE/TAN                              Dog Individual Male

                                                        DogName  OwnerZip  \
Breed             Color
.                 .           NO DOG INFORMATION ON APPLICATION     15227
                  .                                     HYPATIA     15221
                  .                                        LUCY     15236
                  .                                     CHEKERS     15236
                  .                                      DUCKIE     15236
...                                                         ...       ...
YORKSHIRE TERRIER WHITE/GREY                               ZEUS     15241
                  WHITE/GREY                         LITTLE BIT     15218
                  WHITE/TAN                               CHLOE     15065
                  WHITE/TAN                               MISSY     15235
                  WHITE/TAN                            MAVERICK     15229

                              ExpYear         ValidDate
Breed             Color
.                 .              2017   1/10/2017 15:55
                  .              2017  12/19/2016 15:40
                  .              2017    1/25/2017 9:03
                  .              2017    1/25/2017 9:03
                  .              2017    1/25/2017 9:03
...                               ...               ...
YORKSHIRE TERRIER WHITE/GREY     2017    3/1/2017 16:24
                  WHITE/GREY     2017    3/6/2017 16:02
                  WHITE/TAN      2017   2/13/2017 11:54
                  WHITE/TAN      2017     3/1/2017 8:41
                  WHITE/TAN      2017   2/23/2017 15:04

[21727 rows x 5 columns]

### you use loc to slice through indexes, not values on the dataframe

In [8]:
dogs_srt.loc["Chow Chow":"Poodle"]

                                                            LicenseType  \
Breed            Color
DACHSHUND        .                         Dog Individual Neutered Male
                 .                         Dog Individual Neutered Male
                 .                                Dog Individual Female
                 BLACK                     Dog Individual Spayed Female
                 BLACK   Dog Senior Citizen or Disability Neutered Male
...                                                                 ...
PULI             BLACK   Dog Senior Citizen or Disability Spayed Female
                 BLACK   Dog Senior Citizen or Disability Neutered Male
                 BLACK   Dog Senior Citizen or Disability Spayed Female
PUMI             BLACK                     Dog Individual Spayed Female
PYRENEAN MASTIFF BLONDE                    Dog Individual Neutered Male

                         DogName  OwnerZip  ExpYear         ValidDate
Breed            Color
DACHSHUND        .         RUSTY     15112     2017     1/9/2017 9:10
                 .         SANTA     15133     2017   12/7/2016 16:13
                 .         PIPPI     15236     2017    3/17/2017 8:33
                 BLACK    SOPHIE     15108     2017    2/9/2017 13:40
                 BLACK      ZACH     15235     2017   1/25/2017 16:23
...                          ...       ...      ...               ...
PULI             BLACK   FRANKIE     15236     2017    1/9/2017 16:01
                 BLACK     ELVIS     15101     2017   12/5/2016 16:05
                 BLACK      ALEX     15236     2017    1/9/2017 16:01
PUMI             BLACK   GIZELLA     15017     2017    2/15/2017 9:10
PYRENEAN MASTIFF BLONDE   OLIVER     15229     2017  12/22/2016 15:36

[11553 rows x 5 columns]

### To slice in an inner lvl you need to do this

In [9]:
dogs_srt.loc[("Labrador","Brown"):("Schnauzer","Grey")]

                                                                          LicenseType  \
Breed               Color
MALTESE             BLONDE                               Dog Individual Spayed Female
                    OTHER                                Dog Individual Spayed Female
                    WHITE              Dog Senior Citizen or Disability Neutered Male
                    WHITE                                Dog Individual Neutered Male
                    WHITE                                         Dog Individual Male
...                                                                               ...
STAFFORDSHIRE TERRI WHITE/BLACK/BROWN                           Dog Individual Female
                    WHITE/BROWN                          Dog Individual Neutered Male
                    WHITE/BROWN        Dog Senior Citizen or Disability Spayed Female
                    WHITE/BROWN                                 Dog Individual Female
SUSSEX SPANIEL      BROWN                                Dog Individual Neutered Male

                                       DogName  OwnerZip  ExpYear  \
Breed               Color
MALTESE             BLONDE              MILLIE     15116     2017
                    OTHER              MUNCHIE     15108     2017
                    WHITE               BAILEY     15236     2017
                    WHITE               BAXTER     15229     2017
                    WHITE               CHANCE     15239     2017
...                                        ...       ...      ...
STAFFORDSHIRE TERRI WHITE/BLACK/BROWN    CASEY     15135     2017
                    WHITE/BROWN        SYBRANT     15090     2017
                    WHITE/BROWN         STELLA     15239     2017
                    WHITE/BROWN         ZARIAH     15132     2017
SUSSEX SPANIEL      BROWN              BRINKLY     15238     2017

                                              ValidDate
Breed               Color
MALTESE             BLONDE              3/21/2017 13:20
                    OTHER                2/3/2017 15:52
                    WHITE              12/15/2016 14:50
                    WHITE               3/27/2017 12:26
                    WHITE                2/3/2017 15:54
...                                                 ...
STAFFORDSHIRE TERRI WHITE/BLACK/BROWN   2/21/2017 15:46
                    WHITE/BROWN        12/16/2016 15:21
                    WHITE/BROWN         2/27/2017 13:21
                    WHITE/BROWN         3/20/2017 15:45
SUSSEX SPANIEL      BROWN                3/20/2017 8:36

[6849 rows x 5 columns]

### To slice in inner lvl and columns you can do this:

In [12]:
dogs_srt.loc[:,"DogName":"OwnerZip"]

                                                        DogName  OwnerZip
Breed             Color
.                 .           NO DOG INFORMATION ON APPLICATION     15227
                  .                                     HYPATIA     15221
                  .                                        LUCY     15236
                  .                                     CHEKERS     15236
                  .                                      DUCKIE     15236
...                                                         ...       ...
YORKSHIRE TERRIER WHITE/GREY                               ZEUS     15241
                  WHITE/GREY                         LITTLE BIT     15218
                  WHITE/TAN                               CHLOE     15065
                  WHITE/TAN                               MISSY     15235
                  WHITE/TAN                            MAVERICK     15229

[21727 rows x 2 columns]

In [13]:
dogs_srt.loc[("Labrador","Brown"):("Schnauzer","Grey"),"DogName":"OwnerZip"]

                                       DogName  OwnerZip
Breed               Color
MALTESE             BLONDE              MILLIE     15116
                    OTHER              MUNCHIE     15108
                    WHITE               BAILEY     15236
                    WHITE               BAXTER     15229
                    WHITE               CHANCE     15239
...                                        ...       ...
STAFFORDSHIRE TERRI WHITE/BLACK/BROWN    CASEY     15135
                    WHITE/BROWN        SYBRANT     15090
                    WHITE/BROWN         STELLA     15239
                    WHITE/BROWN         ZARIAH     15132
SUSSEX SPANIEL      BROWN              BRINKLY     15238

[6849 rows x 2 columns]